#about {
  padding-top: 80px;
  padding-bottom: 30px;
  width: 100%;
}
#about_me u{
  text-decoration: none;
}
#about_text{
  padding: 20px 20px;
  color: var(--text);
  background-color: #1e22aa;
}
#name_and_photo {
  margin-bottom: 20px;
}
#profile_picture {
  border-radius: 20%;
  height: 150px;
  width: 150px * 1.06;
}

#hobbies_text {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  margin-bottom: 20px;
}

.find_me_button_container {
  margin: 20px;
}

#find_me {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}
#find_me u{
  text-decoration: none;
}
.find_me_button {
  color: var(--text);
  text-decoration: none;
}

.find_me_button:hover {
  color: var(--selected);
  text-decoration: none;
}

#timeline {
  margin-bottom: 20px;
}

#timeline_svg_actual {
  width: fit-content;
}

.about_section {
  margin-bottom: 40px;
}

#find_me {
  margin-bottom: 0px;
}

#name {
  color: #000;
}
#title{
  color: #000;
}

h3 {
  color: #000;
  text-decoration: none;
}

.buttons {
  border-width: 0px;
}

.buttons:hover {
  background-color: green;
  color: #fff;
}

#dbs {
  margin-bottom: 0px;
}
#resume u{
  text-decoration: none;
}
